
body html{
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background-color: rgb(7, 7, 7);
}
#gameCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
